*,
*::after,
*::before{
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}


img{
  max-width: 100%;
}

.no-bullet{
  padding: 0;
  list-style: none;
}

.header{
  background: url(assets/photo-1557682268-e3955ed5d83f.jpg) no-repeat center/cover;
}

.header__container{
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  min-height: 100vh;
  margin-left: auto;
  margin-right: auto;
}

.nav-menu{
  position: absolute;
  top: 60px;
  right: 15px;
  width: 200px;
  height: 230px;
  transform: scale(1, 0);
  transform-origin: top;
  opacity: 0;
  transition: transform ease-in .3s;
  box-shadow: 0 0 10px rgba(0,0,0, .2);
  background-color: #fff;
}

.nav-menu-active{
  transform: scale(1, 1);
  opacity: 1;
}

.nav-menu-active a{
  opacity: 1;
  transition: opacity ease 1s;
}

.hamburger{
  position: absolute;
  right: 0;
}

.hamburger-inner, .hamburger-inner::after, .hamburger-inner::before, .hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner::after{
  background-color: #fff;
}

.nav-menu__ul{
  font-weight: 600;
  line-height: 4;
  text-align: center;
}

.nav-menu__link{
  opacity: 0;
  color: #3c6de9;
  text-decoration: none;
}

.nav-menu__link:active{
  text-decoration: underline;
}

.header__title{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 3.6rem;
  font-family: 'Vujahday Script', cursive;
  color: #298d07;
  background: linear-gradient(
    to right, 
    #c8beff 0%, 
    #dea8f8 10%, 
    #a8deff 30%,
    #bdfacd 42%, 
    #f3fabd 58%, 
    #fae3db 70%, 
    #f8acab 95%, 
    #feaad4 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.header__wave{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 143px;
  background: url(assets/wave.png);
}

@media screen and (min-width: 768px){
.header__title{
  font-size: 6rem;
}

.hamburger{
  display: none;
}

.nav-menu, .nav-menu__link{
  all: unset;
}

.nav-menu__ul{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  color: #fff;
  font-size: 1.2rem;
}

.nav-menu__link{
  cursor: pointer;
}
}

@media screen and (min-width: 1440px){
.header__title{
  font-size: 10rem;
}
}

.about{
  text-align: center;
  padding: 5em 2em;
}

.about__article{
  max-width: 1200px;
  margin: 0 auto;
}

.about__title{
  font-size: 3rem;
}

.about__text{
  font-size: 2.2rem;
  font-weight: 500;
}

.about__title, .about__text{
  background: linear-gradient(90deg,#e73936, #40A7F5, #5DFCA4);
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.designs{
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel{
  position: relative;
  height: inherit;
  width: 100%;
  margin: 0 auto;
}

.carousel__track-container{
  height: inherit;
  position: relative; 
  overflow: hidden;
}

.carousel__tracker{
  position: relative;
  height: 100%;
  margin: 0;
  transition: transform .5s ease;
}

.carousel__slide{
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.carousel__imgs{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel__buttons{
  position: absolute;
  top: 50%;
  border: none;
  height: 60px;
  width: 60px;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgba(0, 0, 0, .5);
}

.carousel__buttons--right{
  right: 5px;
}

.carousel__buttons--left{
  left: 5px;
}

.carousel__buttons:active{
    background-color: rgba(141, 140, 140, .3)
}

.nav-menu__link:active{
  text-decoration: underline;
}

@media screen and (min-width: 768px){
.designs{
  width: 100%;
}

.carousel{
  width: 70%;
}
}

@media screen and (min-width: 1440px){
.carousel__buttons{
  font-size: 2.5rem;
  height: 80px;
  width: 80px;
}

.carousel__buttons--right{
  right: -50px;
}

.carousel__buttons--left{
  left: -50px;
}
}

.footer{
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
  padding-top: 5em;
  padding-bottom: 5em;
  justify-items: center;
  background-color: #eeeeee;
  font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
}

.nav-footer, .contact{
  width: 100%;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.nav-footer{
  align-self: center;
}

.nav-footer__list{
  line-height: 50px;
}

.nav-footer__links{
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  color: #3c6de9;
}

.nav-footer__links, .footer-contact__links{
  cursor: pointer;
}

.nav-footer__links:active{
  text-decoration: underline;
}

.footer-contact__title{
  font-size: 2.2rem;
}

.footer-contact__ul{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.footer-contact__links{
  font-size: 3rem;
}

.footer-contact__instagram{
  background: linear-gradient(20deg, #F58529, #FEDA77, #DD2A7B, #8134AF, #515BD4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.footer-contact__facebook{
  color: #2D4EA2;
}

@media screen and (min-width: 1440px){
  .nav-footer__ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
}

@media screen and (hover:hover){
  .carousel__buttons:hover{
    background-color: rgba(141, 140, 140, .3)
  }
  .nav-menu__link:hover{
    text-decoration: underline;
    color: rgb(233, 67, 67);
  }
  .nav-footer__links:hover{
    text-decoration: underline;
  }
}